<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="hibernate-configuration" requirePermission="false" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    <!--Change path accordingly-->
    <add key="PATH_NHIBERNATE_CONFIG_FILE" value="C:\DevProjects\Test\QuickStart\QuickStart\NHibernate.cfg.config"/>
  </appSettings>
  <connectionStrings>
    <!--Change username and password accordingly-->
    <add name="ConnString" connectionString="Server=(local);initial catalog=QuickStart;uid=username;password=password;" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
